body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #f0f0f0;
  min-height: 100vh;
}

.board-wrap {
  position: relative;
  width: 300px;
  height: 600px;
}

.board-wrap-small {
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
}

.board-align-right {
  margin-right: auto;
  margin-left: 0;
}

.board-grid,
.game-board {
  position: absolute;
  top: 0;
  left: 0;
}

.board-grid {
  width: 100%;
  height: 100%;
  background-size: 30px 30px;
  z-index: 2;
  border: 1px solid #999999;
  background-image:
    linear-gradient(to right, #cccccc 1px, transparent 1px),
    linear-gradient(to bottom, #cccccc 1px, transparent 1px);
}

.game-board {
  border: 1px solid #ffffff;
  z-index: 1;
}

.container-inner {
  max-width: 650px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.row {
  display: flex;
  justify-content: flex-start;
}

.col {
  padding-right: 30px;
  text-align: left;
  position: relative;
  margin-bottom: 10px;
}

.counter {
  display: none;
  font-family: 'Press Start 2P', cursive;
  color: #5200cc;
  position: absolute;
  font-size: 83px;
  top: 30%;
  left: 25%;
  transform: translateX(-50px);
  z-index: 5;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.main-title {
  display: none;
}

.field {
  margin-bottom: 20px;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
  padding-left: 50px;
}

.field-title,
.subtitle {
  color: #57595c;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
}

.button {
  width: 35px;
  height: 35px;
  border: 2px solid #6600ff;
  color: #a366ff;
  background-color: #f0e6ff;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background-color: #e0ccff;
}

.music-button .fa-volume-up {
  display: none;
}

.music-button .fa-volume-off {
  display: inline-block;
}

.music-button.active .fa-volume-up {
  display: inline-block;
}

.music-button.active .fa-volume-off {
  display: none;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.yellow {
  color: #cccc00;
}

.greenish {
  color: #33cc33;
}

.purple {
  color: #5200cc;
}

.logo {
  width: 152px;
  height: 52px;
  border: 2px solid #cccc00;
  margin-bottom: 10px;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.popup-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
}

.popup {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 5;
}

.notice {
  font-size: 10px;
}

@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }

  .col {
    margin-bottom: 0;
    padding-right: 10px;
  }

  .field {
    margin-bottom: 5px;
  }

  .button {
    font-size: 10px;
    width: 25px;
    height: 25px;
  }

  .notice {
    margin-top: 10px;
    font-size: 10px;
  }

  .field-title,
  .subtitle {
    font-size: 10px;
  }

  .board-grid {
    background-size: 15px 15px;
  }

  .board-wrap {
    width: 150px;
    height: 300px;
  }

  .board-wrap-small {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  .popup-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 420px) {
  .field-title,
  .subtitle {
    font-size: 8px;
  }

  .notice {
    font-size: 8px;
  }
}
